:root {
  --primary-font: #fff;
  --primary-backround: #333;
}

body {
  background-color: var(--primary-backround);
  color: var(--primary-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 100px;
}

a {
  color: cyan;
  font-size: 25px;
}

a:hover {
  color: aquamarine;
}
